html {
  font-size: 10px;
  background-color: cadetblue;

  @include iphone12 {
    font-size: 10.4px;
  }
}

body {
  width: 100vw;
  height: 100vh;
  max-width: $content-width;
  max-height: $content-height;
  margin: 0 auto;
  font-family: $font-primary;
  font-size: 1.7rem;
}

h1 {
  font-family: $font-primary;
  font-size: 3.6rem;
  line-height: 4.2rem;
  font-weight: 600;
  text-align: center;
  color: $font-color;
  margin: 0;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

h3 {
  font-family: $font-primary;
  font-size: 1.87rem;
  line-height: 2.22rem;
  font-weight: 400;
  text-align: center;
  color: $font-color;
}

p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.3rem;
  text-align: center;
  color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
}

.start-message {
  position: absolute;
  display: none;
  align-items: center;
  top: 0;
  bottom: 0;
  font-family: $font-color;
  font-size: 20px;
  color: wheat;
  text-align: center;

  @include desktop {
    display: flex;
  }
}
