$content-width: 414px;
$content-height: 896px;

$background-dark: #000000;
$background-light: #ffffff;

$font-primary: 'SFProDisplay', sans-serif;
$font-secondary: 'SFProText', sans-serif;
$font-color: #ffffff;
